@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root{
    --black: #0D0D0D;
    --pantone: #014034;
    --toyo: #02735E;
    --duron: #038C73;
    --toa: #36BFB1;
    --wid: #D8FFDB;

    --menu-height: 75px;
}
body, button, input, select, textarea {
    font-family: "Poppins", sans-serif;
    color: white;
}
*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    background: var(--black);
}
h1{
    font-size: 44px;
}
h2{
    font-size: 24px;
}
h1 h2{
    margin: 0;
    font-weight: 400;
}
p{
    color: var(--wid);
}
button{
    background:var(--pantone);
    border: 0;
    border-radius: 16px;
    padding: 8px 35px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
header{
    height: calc(100vh - var(--menu-height));
    display: flex;
    align-items: center;
}
header .container{
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}
header .container img{
    display: none;
}
header .container h1{
    color: var(--duron);
}
header .container button{
    margin-top: 40px;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--menu-height);
    background: var(--pantone);
    padding: 0 100px;
    position: sticky;
    top: 0;
}
nav img{
    height: 75px;

}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
nav ul a{
    font-size: 24px;
    color: var(--toa);
    text-decoration: none;
    
}
nav ul a svg{
    display: none;
}
section{
    height: 1500px;

}

/*RESPONSIVIDADE*/
@media (max-width: 1000px){
    header .container{
        width: 100%;        
    }
    
    nav ul a{
        font-size: 18px;
    }

    nav{
        padding: 0 30px;
    }
}
/*TABLET*/
@media (max-width: 767px){
    
    header .container img{
        display: inline;
        margin-bottom: 70px;
    }
    nav img{
        display: none;
    }
    nav ul{
        padding: 0;
    }
    nav ul a{
        font-size: 16px;
    }
    header .conteinar img{
        display: nano;
    }
}
/*CELULAR*/
@media (max-width: 480px){
    header .container{
        padding: 0 40px;
    }
    nav{
        position: fixed;
        width: 100%;
        bottom: 0;
        top: unset;
        padding: 15px;
    }
    nav ul a{
        font-size: 10px;
    }
    nav ul a svg{
        display: block;
        margin: 0 auto 10px;
    }
}