@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

.container {
    background: rgb(230,201,230);
    height: 300px;
    display: flex;
    justify-content: center;
}

.card {
    background: grey;
    width: 200px;
    height: 250px;
    display: inline-block;
    margin: 0 10px;
}