@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --black: #0D0D0D;
    --deep-purple: #4A2C5A;
    --rose-gold: #E8B4A0;
    --beige: #FFFBEE;
    --pink: #F8D0C9;
    --wid: #FFFFFF;
    --menu-height: 75px;
}

/* GERAL */
html, body {
    margin: 0;
    background: var(--beige);
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

.header {
    width: 100%;
    background: var(--deep-purple);

    top: 0;
    z-index: 1000;
    position: fixed;    
}
h1 {
    text-align: center;
    margin: 0;
    color: var(--wid);
    padding: 10px 20px;
    font-size: 50px;
}
.main {
    padding-top: 100px; /* ajuste conforme a altura real do seu header */
}
#icon {
    display: none;
}

#list-main {
    display: flex;
    gap:40px;
    margin: 0 15px;
    padding: 0;
    color: var(--wid);
    font-size: 30px;
    list-style: none;

}

#list-main a {
    text-decoration: none;
    color: var(--pink);
    font-size: 20px;
    transition: color 0.2s;
}

.main-items {
    padding: 10px;
    list-style: none;
    border-top: 1px solid var(--deep-purple);
    display: flex;
    align-items: center;
    background: var(--deep-purple);
    transition: background 0.2s;
}

.main-items a {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    transition: color 0.2s;
}

/* Hover para desktop e mobile */
.main-items:hover {
    background: var(--rose-gold);
}
.main-items:hover a {
    color: var(--wid) !important;
}

/* Imagens centralizadas e responsivas */
.main .main-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
    padding-bottom: 20px;
}
.main .main-container .img-container {
    width: 450px;
    height: 450px;
    padding: 22px;
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
}

/* Destaques */
.main-highlights {
    background: var(--pink);
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    text-align: center;
    padding: 30px 0;
    gap: 15em;
    justify-content: center;
}
.main-brands, .main-p, .main-form {
    width: auto;
    max-width: none;
    margin-bottom: 0;
    font-size: 30px;
}

.h1-destaque {
    text-align: center;
    margin: 0;
    color: var(--beige);
    padding: 25px 35px;
    font-size: 60px;
    background: var(--deep-purple);
}

.container {
    width: 100%;
    height: auto;
    position: relative;
}
.slider {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    height: auto;
    display: flex;
    overflow-x: hidden;
    position: relative;
}
.destaque-img {
    width: 100%;
    max-width: 800px;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    display: block;
}

#previous, #next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--deep-purple);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% - 25px);
    left: 30px;
    cursor: pointer;
}
#next {
    left: auto;
    right: 30px;
}
.dots-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(194, 182, 160);
    margin: 0 10px;
}
.dot.active {
    background: var(--deep-purple);
}
.footer-container {
    text-align: center;
    padding: 20px 0;
    background: var(--deep-purple);
    color: var(--wid);
    font-size: 18px;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    gap: 15rem;
}
.footer-container a {
    color: var(--pink);
    text-decoration: none;
    font-weight: bold;
}
.footer-container a:hover {
    text-decoration: underline;
}
.footer-img { 
    vertical-align: middle;
    margin-right: 8px;   
}
.footer-hr{
    border: none;
    margin: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: var(--deep-purple);
    text-align: center;
    color: var(--rose-gold);
}
.footer-hr a{
    color: var(--rose-gold);
    text-decoration: none;
}


/* RESPONSIVIDADE */
@media (max-width: 1000px) {
    .main .main-container .img-container {
        width: 350px;
        height: 350px;
    }
    .slider, .destaque-img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 40px;
        padding: 15px 10px;
    }
    .main-highlights {
        flex-direction: column;
        gap: 2em;
    }
    .main-brands, .main-p, .main-form {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    html, body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: var(--beige);
        font-family: sans-serif;
    }
    h1 {
        font-size: 35px;
        padding: 20px 0 0;
    }
    #icon {
        margin: 0;
        width: 50px;
        display: flex;
        background: var(--deep-purple);
    }
    #main {
        padding: 0;
    }
    #list-main {
        display: flex;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.5s;
        flex-direction: column;
        background: var(--wid);
        position: absolute;
        top: var(--menu-height);
        left: 0;
        width: 100vw;
        z-index: 1000;
        padding:  0;
        margin: 20px 0 0 0;
     
    }
    #main.active #list-main {
        opacity: 1;
        pointer-events: auto;
    }
    #list-main a {
        color: var(--deep-purple);
        font-size: 30px;
        padding: 30px;
    }
    .main-items {
        height: 50px;
        margin: 0;
        border-top: 1px solid var(--deep-purple);
        display: flex;
        align-items: center;
        padding: 0 15px;
        background: var(--wid);
        transition: background 0.2s;
    }
    .main-items a {
        width: 100%;
        padding: 10px 0;
        text-align: center;
        transition: color 0.2s;
    }
    .main-items:hover {
        background: var(--pink);
    }
    .main-items:hover a {
        color: var(--wid) !important;
    }
    .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .main .main-container .img-container {
        width: 300px;
        height: 300px;
        margin: 0 auto;
        display: block;
        padding: 20px;
        max-width: 100%;
    }
    .h1-destaque {
        margin: 20px 0;
        font-size: 30px;
        padding: 15px 10px;
    }
    .container {
        width: 100%;
        height: auto;
    }
    .slider {
        width: 100%;
        height: auto;
    }
    .destaque-img {
        width: 100%;
        height: auto;
    }
    #previous, #next {
        width: 40px;
        height: 40px;
        top: calc(50% - 20px);
        left: 10px;
    }
    #next {
        right: 10px;
        left: auto;
    }
    .dots-container {
        margin: 10px auto;
    }
    .dot {
        width: 8px;
        height: 8px;
        margin: 0 5px;
    }
    .footer-container {
        flex-direction: column;
        gap: 10px;
        font-size: 16px;
        padding: 15px 10px;
    }
    .footer-img { 
        margin: 0;
        vertical-align: middle;  
    }
   
}